.aside-content
    box-shadow: 8px 5px 8px -2px rgba(34, 60, 80, 0.22)
    min-height: 92vh
    min-width: 25%

    display: flex
    flex-direction: column
    justify-content: space-between

.aside-content ul
    list-style: none
    font-size: 20px

.menu-elem
    padding: 15px 120px 15px 20px

.menu-elem li
    color: #4b4747

.menu-elem router-link:hover
    text-decoration: none

.menu-elem:hover
    background-color: #9996966e

.no-line
    text-decoration: none

.active
    background-color: #9996966e
    color: #000