.header
        box-shadow: 4px 5px 8px 4px rgba(34, 60, 80, 0.22)

.header-content
    display: flex
    justify-content: space-between

.img-header
    max-width: 50px
    max-height: 60px

.nav
    display: flex
    gap: 40px
    font-size: 30px
    list-style: none

.no-line
    color: #000
    text-decoration: none

.no-line:hover
    color: #6e6b6b