// .country-part
//     // display: flex
//     // justify-content: space-between
//     margin-bottom: 20px
//     padding-bottom: 7px
//     border-bottom: 2px solid #e1d8d8

table
    width: 100%

.table td
    vertical-align: middle

.name img
    width: 60px
    height: 60px

.table-title
    font-size: 25px
    margin-bottom: 20px
    font-weight: 700

.name
    display: flex
    align-items: center

.name-text
    margin-left: 20px

span
    font-size: 20px
    font-weight: 700
    color: #574d4d